*{
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: none;
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.container-elements {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cover-image {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.slider {
    display: none;
}

/* .slider::-webkit-slider-runnable-track {
    background: black;
} */
